body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-image: url("https://thumbs.dreamstime.com/b/green-felt-casino-table-27679278.jpg");
  background-size: cover;
  text-align: center;
  font-weight: bold;
  color: lightgray;
  max-width: fit-content;
}

h1 {
  color: goldenrod;
}

.btn-start-game {
  cursor: pointer;
  color: #016f32;
  width: 150px;
  background-color: goldenrod;
  border-radius: 5px;
  border: 0px;
  font-weight: bold;
  margin-bottom: 5px;
}

#message-el {
  font-style: italic;
  font-weight: 500;
}
